.card_container {
    padding: 10px 20px;
    border-radius: 6px;
    max-width: 100%;
    display: flex;
    background: #FFF;
    margin-bottom: 14px;
}

.card_cover {
    width: 140px;
    height: 140px;
    background: blue;
    margin-right: 10px;
}

.card_desc {
    font-size: 8px;
    color: black;
    display: flex;
    flex-direction: column;
}

.card_title {
    font-size: 30px;
    font-weight: 500;
}